body {
    background-color: rgb(0, 0, 0);
    margin: 0vw 5vw 0vw 5vw ;
}

.image {
    text-align: center;
}

img {
    width: 60%;
}

.main-heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    color: goldenrod;
    text-align: center;
}

.nav {
    border: 1px solid burlywood;
    width: 50vw;
    margin: auto;
}


ul li {
    color: aliceblue;
    text-align: left;
}


a {
    text-decoration: none;
    color:rgb(245, 234, 171);
    line-height: 1.8rem;
}

ol li {
    text-align: left;
    color:antiquewhite;
}



h1 {
    color:burlywood;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    margin: 2em 0em 1em 0em ;
}

p {
    color: white;
    text-align: justify;
}

.top {
    font-size: 1.7rem;
    text-decoration: none;
}

.home {
    font-size: 1.7rem;
    text-decoration: none;
}

